.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 8px;
}

.tileTiny {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.tileSmall {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.tileMedium {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.tileLarge {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.tileXLarge {
  width: 3rem;
  height: 3rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.tileCorrect {
  background-color: #6aaa64; 
  border: 2px solid #6aaa64;
  color: white;
}

.tilePresent {
  background-color: #c9b458; 
  border: 2px solid #c9b458;
  color: white;
}

.tileAbsent {
  background-color: #787c7e; 
  border: 2px solid #787c7e;
  color: white;
}

.tileEmpty {
  background-color: white;
  border: 2px solid #d3d6da;
}

.tileCurrent {
  background-color: white;
  border: 2px solid #000;
}

